.profile {
  width: 300px;
  background-color: white;
  color: black;
}

img {
  width: 100%;
}

.profile-content {
  padding: 10px;
}

.profile-content h2 {
  font-size: 25px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}

.text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  background: var(--color-orange);
  width: 100%;
  height: 0.5px;
}

.icons,
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.icons > * {
  margin: 0 0.5rem;
  font-size: 28px;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 7px 10px;
  border: 1px solid transparent;
  border-radius: 20px;
  outline: none;
  color: white;
  background: linear-gradient(
    135deg,
    rgba(203, 18, 231, 1) 44%,
    rgb(163, 1, 191, 1) 57%
  );
  cursor: pointer;
  transition: all .3s;
}

.btn a:hover{
    transform: translateY(-5px);
}
