/* .user{
    border: 2px solid silver;
    padding: 0 5%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
} */

.card{
    border: 2px solid silver;
    padding: 0 5%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 15rem;
}

.btn{
    padding: 8px 15px;
    outline: none;
    border: 2px solid white;
    font-size: 16px;
    font-weight: 600;
}