*{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    padding: 0 5%;
}
.heading{
    padding: 1.5rem 0;
}
hr{
    width: 100%;
}
.user-container{
    width: 100%;
    margin-top: 30px;
}