.box{
    width: 75rem;
    height: auto;
}

.main-container{
    width: 100%;
    height: 55rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.5);
}

.img-container{
    width: 50%;
    height: 100%;
    padding: 4rem 1rem;
    background-color: var(--color-primary);
    animation: slide-down 0.5s ease;
}

@keyframes slide-down{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}

.img-container img{
    width: 100%;
    height: 100%;
}
.form-container{
    width: 50%;
    height: 100%;
    flex-direction: column;
    animation: slide-up 0.5s ease;
}

@keyframes slide-up{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}

form{
    width: 90%;
}

form a{
    text-decoration: none;
}

.reset{
    position: relative;
}

.close{
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 50%;
    cursor: pointer;
}
@media screen and (max-width: 520px){
    .box{
        width: 40rem;
    }
    .main-container{
        height: 38rem;
    }
    .img-container{
        display: none;
    }
    .form-container{
        width: 100%;
    }
}

.password{
    position: relative;
}

.icon{
    position: absolute;
    top:5px;
    right: 10px;
    font-size: 22px; 
}

.hide-indicator{
    display: none;
}

.show-indicator{
    display: block;
    width: 85%;
    animation: slide-up 0.5s ease;
}

.--btn-disable{
    background-color: rgba(0, 112, 210, 0.5);
    color: white;
    cursor: not-allowed;
}