body{
    background-color: var(--color-primary);
    overflow: hidden;
}

form.form input{
    width: 73%;
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--color-grey);
    padding: 1rem;
    margin: 1rem;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}